*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  cursor: none;
  cursor:crosshair;
}

button{
  border:0px;

}


.cursor{
  z-index: 2;
  width: 50px;
  height: 50px;
  border:3px solid white;
  border-radius: 50%;
  position: fixed;
  pointer-events:none;
  transform-origin:100% 100%;
  transform:translate(-50%,-50%);
  mix-blend-mode: difference;
}

.scale-cursor{
  background: white;
}

#logo{
    padding:20px ;
    max-width: 100px;
    height: auto;
    
}

#hydrate{
    padding:2px ;
    max-width: 54%;
    height: auto;
}
.contact-bdy{ 
  background-image: url('./float\ ball\ dizzy.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;}

.about-header{ 
  background-image: url('./underwaterbabe.gif');
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;}

  iframe{
    margin-bottom: 20px;
  }
  .discount{
    opacity: 20%;
    font-size: 100px;
  }
  .water{
    font-size: 100px;
  }
  .surface{
    letter-spacing: 2px;
  }
  .our-team{
    letter-spacing: 2px;
  }
  .hr{
    border-top: 10px solid
  }